<div class="text-center">
    <h1 class="text-center">ITEM</h1>
</div>
<div class="d-flex">
    <div class="one">
        <h2>Categories:</h2>
    </div>
    <div class="one">
        <form action="/categories/new" method="post">
            <div class="form-group mb-2">
                <label>Add Category: </label>
                <span class="text-danger d-block"></span>
                <select class="form-control">
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
</div>